* {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

body {
  padding-top: 70px;
  /* background-color: #E0E0E0; */
}

.glyphicon-heart {
  color: #ec0f0f;
}

.jumbotron {
  padding: 10px;
}

.backdrop {
  width: 100%;
  height: auto;
  border: 2px solid black;
}

/* images */
.profile {
  display: inline-block;
  /* vertical-align: middle; */
  max-width: 100%;
  /* height: auto; */
}

.top-buffer {
  margin-top: 20px;
}

.top-and-bottom-buffer {
  margin: 20px 0;
}

.center-text {
  text-align: center;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

.hr {
  width: 80%;
  height: 2px;
  background-color: #E0E0E0;
  margin: 10px  auto;
}

.black-hr {
  width: 80%;
  height: 2px;
  background-color: #E2E1FF;
  margin: 10px  auto;
}

.margin-top-30 {
  margin-top: 30px;
}


.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-top-15 {
  margin-top: 15px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.icon {
  height: 50px;
  width: 50px;
}

.size-20-font {
  font-size: 20px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.bold {
  font-weight: bold;
}

td {
  padding: 2px;
}

 .carousel{

          margin: 20px 0;

      }
 .carousel .item img{
          margin: 0 auto; /* Align slide image horizontally center */
      }
  .control-buttons{
        text-align: center;
      }
  .instagram{
        margin: 20px;
      }

#counter {
    padding: 10px;
}

