.double_carousel_card_slider {
    width: 75%;
    height: 100%;
    display: block;
    position: absolute;
    left: 1000px;
}

.col_small_width{
    width: 100%;
}

.event_slider_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 653px;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.event_slider_content {
    height: 150%;
    margin-top: 60px;
    margin-bottom: 100%;
    margin-left: 10% ;
    padding-top: 100px;
}

.event_slider_content h1 {

    font-weight: 300;
    line-height: 1.15;
    color: #FFFFFF;
}

.event_slider_content h1 span {
    font-family: 'Myriad Pro Regular', sans-serif;
}

.event_slider_content p {
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    padding-left: 5px;
    margin-top: 1px;
    background-color: rgba(0,0,0,.6);
    border-radius: 10px;
}

.owl-carousel .owl-item{
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

.double_carousel_card {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel_previous, .carousel_next {
    cursor: pointer;
    top:45%;
    transition: 0.5s ease;
    font-weight: bold;
    color: whitesmoke;
    user-select: none;
}

.carousel_next {
    right: 0;
}

.carousel_previous:hover, carousel_next:hover{
    color: darkgoldenrod;
}

.carousel_card_text {
    font-size: 15px;
    color: white;
    background-color: rgba(0,0,0,.2);
}

.carousel_card_title p {
    font-size: 30px;
    color: white;
}

.owl-carousel{

}

.owl-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 300px;
    align-items: center;
}

.owl-prev{
    color: white;
    background: rgba(0,0,0,.3);
    margin-left: 10px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 20px;
}

.owl-next{
    color: whitesmoke;
    background: rgba(0,0,0,.3);
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 10px;
    border-radius: 20px;
}

.owl-prev:hover, .owl-next:hover{
    color: darkgoldenrod;
}


